<!-- <div data-ng-repeat="profile in vm.profiles">
  <div>
    <p><a data-ui-sref="profileShow({id: profile.id})">{{profile.name}}</a></p>
    <p>{{profile.title}}</a></p>
    <p>{{profile.city}}</a></p>
    <p><a data-ui-sref="profileEdit({id: profile.id})">Edit</a></p>
    <hr />
  </div>
</div> -->

<div class="col-md-6">
  <div ng-if="!isAuthenticated">
    <p>You are not yet authenticated. <a ui-sref="login">Log in.</a></p>
  </div>
  <div ng-if="isAuthenticated">
    <p>Thank you for logging in! <a href="javascript:;" ng-click="vm.authService.logout()">Log out.</a></p>
  <p>{{ vm.user.nickname }}</p>
  <p><a href="{{vm.user.publicProfileUrl}}"></a></p>
  <a href="{{vm.user.publicProfileUrl}}">{{vm.user.publicProfileUrl}}</a></p>
  <img ng-src="{{ vm.user.picture }}">
  </div>
  <ul class="list-group media-list media-list-stream" data-ng-repeat="profile in vm.profiles">

    <li class="media list-group-item p-a">
      <a class="media-left" href="#">
        <img
          class="media-object img-circle"
          src="{{profile.image}}">
      </a>
      <div class="media-body">
        <div class="media-body-text">
          <div class="media-heading">
            <h5><a data-ui-sref="profileShow({id: profile.id})">{{profile.name}}</a></h5>
          </div>
          <p>{{profile.title}}</a></p>
          <p>{{profile.city}}</a></p>
          </div>
      </div>
    </li>
  </ul>
</div>
